apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Values.configMap.name }}
  namespace: {{ .Values.namespace }}
data:
  application.yaml: |
{{ .Files.Get "application.yaml" | indent 4 }}
  public_key.pem: |
{{ .Files.Get "public_key.pem" | indent 4 }}